.wallpaper {
  background: url('./bg_1920_main_43.jpg') no-repeat center top;
  position: relative;
}

.container {
  max-width: 980px;
  width: 100%;
  padding: 0 0;
  margin: 15px auto;
  display: table;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
  background-color: white;
}

.main-col {
  width: 780px;
  border-right: 1px solid #ccc;
  margin-right: -1px;
  position:relative;
  float: left;
}

.side-col {
  width: 200px;
  float: left;
}

@media screen and (max-width: 980px) {
  .main-col {
    width: 100%;
  }

  .side-col {
    width: 100%;
  }
}
